<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the billing_init() hook (in hooks/billing.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="billing-id-<%%VALUE(id)%%>" class="billing-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="billing-user_id-<%%VALUE(id)%%>" class="billing-user_id"><%%SELECT%%><%%VALUE(user_id)%%><%%ENDSELECT%%></td>
		<td id="billing-name-<%%VALUE(id)%%>" class="billing-name"><%%SELECT%%><%%VALUE(name)%%><%%ENDSELECT%%></td>
		<td id="billing-email-<%%VALUE(id)%%>" class="billing-email"><%%SELECT%%><%%VALUE(email)%%><%%ENDSELECT%%></td>
		<td id="billing-phone_number-<%%VALUE(id)%%>" class="billing-phone_number"><%%SELECT%%><%%VALUE(phone_number)%%><%%ENDSELECT%%></td>
		<td id="billing-tx_ref-<%%VALUE(id)%%>" class="billing-tx_ref"><%%SELECT%%><%%VALUE(tx_ref)%%><%%ENDSELECT%%></td>
		<td id="billing-charged_amount-<%%VALUE(id)%%>" class="billing-charged_amount"><%%SELECT%%><%%VALUE(charged_amount)%%><%%ENDSELECT%%></td>
		<td id="billing-payment_type-<%%VALUE(id)%%>" class="billing-payment_type"><%%SELECT%%><%%VALUE(payment_type)%%><%%ENDSELECT%%></td>
		<td id="billing-created_at-<%%VALUE(id)%%>" class="billing-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></td>
		<td id="billing-auth_model-<%%VALUE(id)%%>" class="billing-auth_model"><%%SELECT%%><%%VALUE(auth_model)%%><%%ENDSELECT%%></td>
		<td id="billing-device_fingerprint-<%%VALUE(id)%%>" class="billing-device_fingerprint"><%%SELECT%%><%%VALUE(device_fingerprint)%%><%%ENDSELECT%%></td>
		<td id="billing-flw_ref-<%%VALUE(id)%%>" class="billing-flw_ref"><%%SELECT%%><%%VALUE(flw_ref)%%><%%ENDSELECT%%></td>
		<td id="billing-account_id-<%%VALUE(id)%%>" class="billing-account_id"><%%SELECT%%><%%VALUE(account_id)%%><%%ENDSELECT%%></td>
		<td id="billing-amount_settled-<%%VALUE(id)%%>" class="billing-amount_settled"><%%SELECT%%><%%VALUE(amount_settled)%%><%%ENDSELECT%%></td>
		<td id="billing-app_fee-<%%VALUE(id)%%>" class="billing-app_fee"><%%SELECT%%><%%VALUE(app_fee)%%><%%ENDSELECT%%></td>
		<td id="billing-status-<%%VALUE(id)%%>" class="billing-status"><%%SELECT%%><%%VALUE(status)%%><%%ENDSELECT%%></td>
