<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the history_init() hook (in hooks/history.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="history-hist_id-<%%VALUE(hist_id)%%>" class="history-hist_id text-right"><%%SELECT%%><%%VALUE(hist_id)%%><%%ENDSELECT%%></td>
		<td id="history-id-<%%VALUE(hist_id)%%>" class="history-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="history-email-<%%VALUE(hist_id)%%>" class="history-email"><%%SELECT%%><%%VALUE(email)%%><%%ENDSELECT%%></td>
		<td id="history-password-<%%VALUE(hist_id)%%>" class="history-password"><%%SELECT%%><%%VALUE(password)%%><%%ENDSELECT%%></td>
		<td id="history-type-<%%VALUE(hist_id)%%>" class="history-type text-right"><%%SELECT%%><%%VALUE(type)%%><%%ENDSELECT%%></td>
		<td id="history-firstname-<%%VALUE(hist_id)%%>" class="history-firstname"><%%SELECT%%><%%VALUE(firstname)%%><%%ENDSELECT%%></td>
		<td id="history-lastname-<%%VALUE(hist_id)%%>" class="history-lastname"><%%SELECT%%><%%VALUE(lastname)%%><%%ENDSELECT%%></td>
		<td id="history-username-<%%VALUE(hist_id)%%>" class="history-username"><%%SELECT%%><%%VALUE(username)%%><%%ENDSELECT%%></td>
		<td id="history-address-<%%VALUE(hist_id)%%>" class="history-address"><%%SELECT%%><%%VALUE(address)%%><%%ENDSELECT%%></td>
		<td id="history-country-<%%VALUE(hist_id)%%>" class="history-country"><%%SELECT%%><%%VALUE(country)%%><%%ENDSELECT%%></td>
		<td id="history-contact_info-<%%VALUE(hist_id)%%>" class="history-contact_info"><%%SELECT%%><%%VALUE(contact_info)%%><%%ENDSELECT%%></td>
		<td id="history-contact_verify-<%%VALUE(hist_id)%%>" class="history-contact_verify text-right"><%%SELECT%%><%%VALUE(contact_verify)%%><%%ENDSELECT%%></td>
		<td id="history-photo-<%%VALUE(hist_id)%%>" class="history-photo"><%%SELECT%%><%%VALUE(photo)%%><%%ENDSELECT%%></td>
		<td id="history-status-<%%VALUE(hist_id)%%>" class="history-status text-right"><%%SELECT%%><%%VALUE(status)%%><%%ENDSELECT%%></td>
		<td id="history-activate_code-<%%VALUE(hist_id)%%>" class="history-activate_code"><%%SELECT%%><%%VALUE(activate_code)%%><%%ENDSELECT%%></td>
		<td id="history-reset_code-<%%VALUE(hist_id)%%>" class="history-reset_code"><%%SELECT%%><%%VALUE(reset_code)%%><%%ENDSELECT%%></td>
		<td id="history-created_on-<%%VALUE(hist_id)%%>" class="history-created_on"><%%SELECT%%><%%VALUE(created_on)%%><%%ENDSELECT%%></td>
		<td id="history-source-<%%VALUE(hist_id)%%>" class="history-source"><%%SELECT%%><%%VALUE(source)%%><%%ENDSELECT%%></td>
		<td id="history-verified-<%%VALUE(hist_id)%%>" class="history-verified"><%%SELECT%%><%%VALUE(verified)%%><%%ENDSELECT%%></td>
		<td id="history-occupation-<%%VALUE(hist_id)%%>" class="history-occupation"><%%SELECT%%><%%VALUE(occupation)%%><%%ENDSELECT%%></td>
		<td id="history-company-<%%VALUE(hist_id)%%>" class="history-company"><%%SELECT%%><%%VALUE(company)%%><%%ENDSELECT%%></td>
		<td id="history-company_site-<%%VALUE(hist_id)%%>" class="history-company_site"><%%SELECT%%><%%VALUE(company_site)%%><%%ENDSELECT%%></td>
		<td id="history-language-<%%VALUE(hist_id)%%>" class="history-language"><%%SELECT%%><%%VALUE(language)%%><%%ENDSELECT%%></td>
		<td id="history-time_zone-<%%VALUE(hist_id)%%>" class="history-time_zone"><%%SELECT%%><%%VALUE(time_zone)%%><%%ENDSELECT%%></td>
		<td id="history-currency-<%%VALUE(hist_id)%%>" class="history-currency"><%%SELECT%%><%%VALUE(currency)%%><%%ENDSELECT%%></td>
		<td id="history-email_comm-<%%VALUE(hist_id)%%>" class="history-email_comm text-right"><%%SELECT%%><%%VALUE(email_comm)%%><%%ENDSELECT%%></td>
		<td id="history-phone_comm-<%%VALUE(hist_id)%%>" class="history-phone_comm text-right"><%%SELECT%%><%%VALUE(phone_comm)%%><%%ENDSELECT%%></td>
		<td id="history-marketing-<%%VALUE(hist_id)%%>" class="history-marketing text-right"><%%SELECT%%><%%VALUE(marketing)%%><%%ENDSELECT%%></td>
		<td id="history-two_auth-<%%VALUE(hist_id)%%>" class="history-two_auth text-right"><%%SELECT%%><%%VALUE(two_auth)%%><%%ENDSELECT%%></td>
		<td id="history-two_auth_secret-<%%VALUE(hist_id)%%>" class="history-two_auth_secret"><%%SELECT%%><%%VALUE(two_auth_secret)%%><%%ENDSELECT%%></td>
		<td id="history-g_id-<%%VALUE(hist_id)%%>" class="history-g_id"><%%SELECT%%><%%VALUE(g_id)%%><%%ENDSELECT%%></td>
		<td id="history-f_id-<%%VALUE(hist_id)%%>" class="history-f_id"><%%SELECT%%><%%VALUE(f_id)%%><%%ENDSELECT%%></td>
		<td id="history-t_id-<%%VALUE(hist_id)%%>" class="history-t_id"><%%SELECT%%><%%VALUE(t_id)%%><%%ENDSELECT%%></td>
		<td id="history-timestamp-<%%VALUE(hist_id)%%>" class="history-timestamp"><%%SELECT%%><%%VALUE(timestamp)%%><%%ENDSELECT%%></td>
		<td id="history-change_part-<%%VALUE(hist_id)%%>" class="history-change_part"><%%SELECT%%><%%VALUE(change_part)%%><%%ENDSELECT%%></td>
