<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Hist_id -->
		<div class="form-group history-hist_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Hist_id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(hist_id)%%></div>
			</div>
		</div>
		<!-- Field: Id -->
		<div class="form-group history-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Email -->
		<div class="form-group history-email" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Email</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(email)%%></div>
			</div>
		</div>
		<!-- Field: Password -->
		<div class="form-group history-password" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Password</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(password)%%></div>
			</div>
		</div>
		<!-- Field: Type -->
		<div class="form-group history-type" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Type</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(type)%%></div>
			</div>
		</div>
		<!-- Field: Firstname -->
		<div class="form-group history-firstname" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Firstname</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(firstname)%%></div>
			</div>
		</div>
		<!-- Field: Lastname -->
		<div class="form-group history-lastname" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Lastname</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(lastname)%%></div>
			</div>
		</div>
		<!-- Field: Username -->
		<div class="form-group history-username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(username)%%></div>
			</div>
		</div>
		<!-- Field: Address -->
		<div class="form-group history-address" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Address</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(address)%%></div>
			</div>
		</div>
		<!-- Field: Country -->
		<div class="form-group history-country" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Country</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(country)%%></div>
			</div>
		</div>
		<!-- Field: Contact_info -->
		<div class="form-group history-contact_info" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Contact_info</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(contact_info)%%></div>
			</div>
		</div>
		<!-- Field: Contact_verify -->
		<div class="form-group history-contact_verify" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Contact_verify</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(contact_verify)%%></div>
			</div>
		</div>
		<!-- Field: Photo -->
		<div class="form-group history-photo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Photo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(photo)%%></div>
			</div>
		</div>
		<!-- Field: Status -->
		<div class="form-group history-status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Status</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(status)%%></div>
			</div>
		</div>
		<!-- Field: Activate_code -->
		<div class="form-group history-activate_code" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Activate_code</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(activate_code)%%></div>
			</div>
		</div>
		<!-- Field: Reset_code -->
		<div class="form-group history-reset_code" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Reset_code</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(reset_code)%%></div>
			</div>
		</div>
		<!-- Field: Created_on -->
		<div class="form-group history-created_on" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created_on</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_on)%%></div>
			</div>
		</div>
		<!-- Field: Source -->
		<div class="form-group history-source" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Source</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(source)%%></div>
			</div>
		</div>
		<!-- Field: Verified -->
		<div class="form-group history-verified" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Verified</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(verified)%%></div>
			</div>
		</div>
		<!-- Field: Occupation -->
		<div class="form-group history-occupation" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Occupation</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(occupation)%%></div>
			</div>
		</div>
		<!-- Field: Company -->
		<div class="form-group history-company" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Company</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(company)%%></div>
			</div>
		</div>
		<!-- Field: Company_site -->
		<div class="form-group history-company_site" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Company_site</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(company_site)%%></div>
			</div>
		</div>
		<!-- Field: Language -->
		<div class="form-group history-language" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Language</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(language)%%></div>
			</div>
		</div>
		<!-- Field: Time_zone -->
		<div class="form-group history-time_zone" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Time_zone</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(time_zone)%%></div>
			</div>
		</div>
		<!-- Field: Currency -->
		<div class="form-group history-currency" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Currency</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(currency)%%></div>
			</div>
		</div>
		<!-- Field: Email_comm -->
		<div class="form-group history-email_comm" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Email_comm</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(email_comm)%%></div>
			</div>
		</div>
		<!-- Field: Phone_comm -->
		<div class="form-group history-phone_comm" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Phone_comm</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(phone_comm)%%></div>
			</div>
		</div>
		<!-- Field: Marketing -->
		<div class="form-group history-marketing" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Marketing</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(marketing)%%></div>
			</div>
		</div>
		<!-- Field: Two_auth -->
		<div class="form-group history-two_auth" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Two_auth</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(two_auth)%%></div>
			</div>
		</div>
		<!-- Field: Two_auth_secret -->
		<div class="form-group history-two_auth_secret" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Two_auth_secret</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(two_auth_secret)%%></div>
			</div>
		</div>
		<!-- Field: G_id -->
		<div class="form-group history-g_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">G_id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(g_id)%%></div>
			</div>
		</div>
		<!-- Field: F_id -->
		<div class="form-group history-f_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">F_id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(f_id)%%></div>
			</div>
		</div>
		<!-- Field: T_id -->
		<div class="form-group history-t_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">T_id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(t_id)%%></div>
			</div>
		</div>
		<!-- Field: Timestamp -->
		<div class="form-group history-timestamp" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Timestamp</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(timestamp)%%></div>
			</div>
		</div>
		<!-- Field: Change_part -->
		<div class="form-group history-change_part" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Change_part</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(change_part)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
