<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the process_engine_init() hook (in hooks/process_engine.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="process_engine-id-<%%VALUE(id)%%>" class="process_engine-id text-right"><%%VALUE(id)%%></td>
		<td id="process_engine-request_method-<%%VALUE(id)%%>" class="process_engine-request_method"><%%VALUE(request_method)%%></td>
		<td id="process_engine-page-<%%VALUE(id)%%>" class="process_engine-page"><%%VALUE(page)%%></td>
		<td id="process_engine-var_1-<%%VALUE(id)%%>" class="process_engine-var_1"><%%VALUE(var_1)%%></td>
		<td id="process_engine-object-<%%VALUE(id)%%>" class="process_engine-object"><%%VALUE(object)%%></td>
		<td id="process_engine-access_token-<%%VALUE(id)%%>" class="process_engine-access_token"><%%VALUE(access_token)%%></td>
		<td id="process_engine-access_secret-<%%VALUE(id)%%>" class="process_engine-access_secret"><%%VALUE(access_secret)%%></td>
		<td id="process_engine-execution-<%%VALUE(id)%%>" class="process_engine-execution"><%%VALUE(execution)%%></td>
		<td id="process_engine-user_id-<%%VALUE(id)%%>" class="process_engine-user_id"><%%VALUE(user_id)%%></td>
