<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the system_cookies_init() hook (in hooks/system_cookies.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="system_cookies-id-<%%VALUE(id)%%>" class="system_cookies-id text-right"><%%VALUE(id)%%></td>
		<td id="system_cookies-PATH-<%%VALUE(id)%%>" class="system_cookies-PATH"><%%VALUE(PATH)%%></td>
		<td id="system_cookies-HTTP_ACCEPT-<%%VALUE(id)%%>" class="system_cookies-HTTP_ACCEPT"><%%VALUE(HTTP_ACCEPT)%%></td>
		<td id="system_cookies-HTTP_ACCEPT_ENCODING-<%%VALUE(id)%%>" class="system_cookies-HTTP_ACCEPT_ENCODING"><%%VALUE(HTTP_ACCEPT_ENCODING)%%></td>
		<td id="system_cookies-HTTP_ACCEPT_LANGUAGE-<%%VALUE(id)%%>" class="system_cookies-HTTP_ACCEPT_LANGUAGE"><%%VALUE(HTTP_ACCEPT_LANGUAGE)%%></td>
		<td id="system_cookies-HTTP_COOKIE-<%%VALUE(id)%%>" class="system_cookies-HTTP_COOKIE"><%%VALUE(HTTP_COOKIE)%%></td>
		<td id="system_cookies-HTTP_HOST-<%%VALUE(id)%%>" class="system_cookies-HTTP_HOST"><%%VALUE(HTTP_HOST)%%></td>
		<td id="system_cookies-HTTP_USER_AGENT-<%%VALUE(id)%%>" class="system_cookies-HTTP_USER_AGENT"><%%VALUE(HTTP_USER_AGENT)%%></td>
		<td id="system_cookies-HTTP_CACHE_CONTROL-<%%VALUE(id)%%>" class="system_cookies-HTTP_CACHE_CONTROL"><%%VALUE(HTTP_CACHE_CONTROL)%%></td>
		<td id="system_cookies-HTTP_SEC_CH_UA-<%%VALUE(id)%%>" class="system_cookies-HTTP_SEC_CH_UA"><%%VALUE(HTTP_SEC_CH_UA)%%></td>
		<td id="system_cookies-HTTP_SEC_CH_UA_MOBILE-<%%VALUE(id)%%>" class="system_cookies-HTTP_SEC_CH_UA_MOBILE"><%%VALUE(HTTP_SEC_CH_UA_MOBILE)%%></td>
		<td id="system_cookies-HTTP_SEC_CH_UA_PLATFORM-<%%VALUE(id)%%>" class="system_cookies-HTTP_SEC_CH_UA_PLATFORM"><%%VALUE(HTTP_SEC_CH_UA_PLATFORM)%%></td>
		<td id="system_cookies-HTTP_UPGRADE_INSECURE_REQUESTS-<%%VALUE(id)%%>" class="system_cookies-HTTP_UPGRADE_INSECURE_REQUESTS"><%%VALUE(HTTP_UPGRADE_INSECURE_REQUESTS)%%></td>
		<td id="system_cookies-HTTP_SEC_FETCH_SITE-<%%VALUE(id)%%>" class="system_cookies-HTTP_SEC_FETCH_SITE"><%%VALUE(HTTP_SEC_FETCH_SITE)%%></td>
		<td id="system_cookies-HTTP_SEC_FETCH_MODE-<%%VALUE(id)%%>" class="system_cookies-HTTP_SEC_FETCH_MODE"><%%VALUE(HTTP_SEC_FETCH_MODE)%%></td>
		<td id="system_cookies-HTTP_SEC_FETCH_USER-<%%VALUE(id)%%>" class="system_cookies-HTTP_SEC_FETCH_USER"><%%VALUE(HTTP_SEC_FETCH_USER)%%></td>
		<td id="system_cookies-HTTP_SEC_FETCH_DEST-<%%VALUE(id)%%>" class="system_cookies-HTTP_SEC_FETCH_DEST"><%%VALUE(HTTP_SEC_FETCH_DEST)%%></td>
		<td id="system_cookies-HTTP_X_HTTPS-<%%VALUE(id)%%>" class="system_cookies-HTTP_X_HTTPS"><%%VALUE(HTTP_X_HTTPS)%%></td>
		<td id="system_cookies-DOCUMENT_ROOT-<%%VALUE(id)%%>" class="system_cookies-DOCUMENT_ROOT"><%%VALUE(DOCUMENT_ROOT)%%></td>
		<td id="system_cookies-REMOTE_ADDR-<%%VALUE(id)%%>" class="system_cookies-REMOTE_ADDR"><%%VALUE(REMOTE_ADDR)%%></td>
		<td id="system_cookies-REMOTE_PORT-<%%VALUE(id)%%>" class="system_cookies-REMOTE_PORT"><%%VALUE(REMOTE_PORT)%%></td>
		<td id="system_cookies-SERVER_ADDR-<%%VALUE(id)%%>" class="system_cookies-SERVER_ADDR"><%%VALUE(SERVER_ADDR)%%></td>
		<td id="system_cookies-SERVER_NAME-<%%VALUE(id)%%>" class="system_cookies-SERVER_NAME"><%%VALUE(SERVER_NAME)%%></td>
		<td id="system_cookies-SERVER_ADMIN-<%%VALUE(id)%%>" class="system_cookies-SERVER_ADMIN"><%%VALUE(SERVER_ADMIN)%%></td>
		<td id="system_cookies-SERVER_PORT-<%%VALUE(id)%%>" class="system_cookies-SERVER_PORT"><%%VALUE(SERVER_PORT)%%></td>
		<td id="system_cookies-REQUEST_SCHEME-<%%VALUE(id)%%>" class="system_cookies-REQUEST_SCHEME"><%%VALUE(REQUEST_SCHEME)%%></td>
		<td id="system_cookies-REQUEST_URI-<%%VALUE(id)%%>" class="system_cookies-REQUEST_URI"><%%VALUE(REQUEST_URI)%%></td>
		<td id="system_cookies-GEOIP_ADDR-<%%VALUE(id)%%>" class="system_cookies-GEOIP_ADDR"><%%VALUE(GEOIP_ADDR)%%></td>
		<td id="system_cookies-GEOIP_CONTINENT_CODE-<%%VALUE(id)%%>" class="system_cookies-GEOIP_CONTINENT_CODE"><%%VALUE(GEOIP_CONTINENT_CODE)%%></td>
		<td id="system_cookies-GEOIP_COUNTRY_CODE-<%%VALUE(id)%%>" class="system_cookies-GEOIP_COUNTRY_CODE"><%%VALUE(GEOIP_COUNTRY_CODE)%%></td>
		<td id="system_cookies-GEOIP_COUNTRY_NAME-<%%VALUE(id)%%>" class="system_cookies-GEOIP_COUNTRY_NAME"><%%VALUE(GEOIP_COUNTRY_NAME)%%></td>
		<td id="system_cookies-GEOIP_CITY-<%%VALUE(id)%%>" class="system_cookies-GEOIP_CITY"><%%VALUE(GEOIP_CITY)%%></td>
		<td id="system_cookies-GEOIP_CITY_CONTINENT_CODE-<%%VALUE(id)%%>" class="system_cookies-GEOIP_CITY_CONTINENT_CODE"><%%VALUE(GEOIP_CITY_CONTINENT_CODE)%%></td>
		<td id="system_cookies-GEOIP_CITY_COUNTRY_CODE-<%%VALUE(id)%%>" class="system_cookies-GEOIP_CITY_COUNTRY_CODE"><%%VALUE(GEOIP_CITY_COUNTRY_CODE)%%></td>
		<td id="system_cookies-GEOIP_CITY_COUNTRY_NAME-<%%VALUE(id)%%>" class="system_cookies-GEOIP_CITY_COUNTRY_NAME"><%%VALUE(GEOIP_CITY_COUNTRY_NAME)%%></td>
		<td id="system_cookies-GEOIP_REGION-<%%VALUE(id)%%>" class="system_cookies-GEOIP_REGION"><%%VALUE(GEOIP_REGION)%%></td>
		<td id="system_cookies-GEOIP_LATITUDE-<%%VALUE(id)%%>" class="system_cookies-GEOIP_LATITUDE"><%%VALUE(GEOIP_LATITUDE)%%></td>
		<td id="system_cookies-GEOIP_LONGITUDE-<%%VALUE(id)%%>" class="system_cookies-GEOIP_LONGITUDE"><%%VALUE(GEOIP_LONGITUDE)%%></td>
		<td id="system_cookies-GEOIP_ISP-<%%VALUE(id)%%>" class="system_cookies-GEOIP_ISP"><%%VALUE(GEOIP_ISP)%%></td>
		<td id="system_cookies-GEOIP_ORGANIZATION-<%%VALUE(id)%%>" class="system_cookies-GEOIP_ORGANIZATION"><%%VALUE(GEOIP_ORGANIZATION)%%></td>
		<td id="system_cookies-GEOIP_POSTAL_CODE-<%%VALUE(id)%%>" class="system_cookies-GEOIP_POSTAL_CODE"><%%VALUE(GEOIP_POSTAL_CODE)%%></td>
		<td id="system_cookies-GEOIP_DMA_CODE-<%%VALUE(id)%%>" class="system_cookies-GEOIP_DMA_CODE"><%%VALUE(GEOIP_DMA_CODE)%%></td>
		<td id="system_cookies-HTTPS-<%%VALUE(id)%%>" class="system_cookies-HTTPS"><%%VALUE(HTTPS)%%></td>
		<td id="system_cookies-CRAWLER_USLEEP-<%%VALUE(id)%%>" class="system_cookies-CRAWLER_USLEEP"><%%VALUE(CRAWLER_USLEEP)%%></td>
		<td id="system_cookies-CRAWLER_LOAD_LIMIT_ENFORCE-<%%VALUE(id)%%>" class="system_cookies-CRAWLER_LOAD_LIMIT_ENFORCE"><%%VALUE(CRAWLER_LOAD_LIMIT_ENFORCE)%%></td>
		<td id="system_cookies-X_SPDY-<%%VALUE(id)%%>" class="system_cookies-X_SPDY"><%%VALUE(X_SPDY)%%></td>
		<td id="system_cookies-SSL_PROTOCOL-<%%VALUE(id)%%>" class="system_cookies-SSL_PROTOCOL"><%%VALUE(SSL_PROTOCOL)%%></td>
		<td id="system_cookies-SSL_CIPHER-<%%VALUE(id)%%>" class="system_cookies-SSL_CIPHER"><%%VALUE(SSL_CIPHER)%%></td>
		<td id="system_cookies-SSL_CIPHER_USEKEYSIZE-<%%VALUE(id)%%>" class="system_cookies-SSL_CIPHER_USEKEYSIZE"><%%VALUE(SSL_CIPHER_USEKEYSIZE)%%></td>
		<td id="system_cookies-SSL_CIPHER_ALGKEYSIZE-<%%VALUE(id)%%>" class="system_cookies-SSL_CIPHER_ALGKEYSIZE"><%%VALUE(SSL_CIPHER_ALGKEYSIZE)%%></td>
		<td id="system_cookies-SCRIPT_FILENAME-<%%VALUE(id)%%>" class="system_cookies-SCRIPT_FILENAME"><%%VALUE(SCRIPT_FILENAME)%%></td>
		<td id="system_cookies-QUERY_STRING-<%%VALUE(id)%%>" class="system_cookies-QUERY_STRING"><%%VALUE(QUERY_STRING)%%></td>
		<td id="system_cookies-SCRIPT_URI-<%%VALUE(id)%%>" class="system_cookies-SCRIPT_URI"><%%VALUE(SCRIPT_URI)%%></td>
		<td id="system_cookies-SCRIPT_URL-<%%VALUE(id)%%>" class="system_cookies-SCRIPT_URL"><%%VALUE(SCRIPT_URL)%%></td>
		<td id="system_cookies-SCRIPT_NAME-<%%VALUE(id)%%>" class="system_cookies-SCRIPT_NAME"><%%VALUE(SCRIPT_NAME)%%></td>
		<td id="system_cookies-SERVER_PROTOCOL-<%%VALUE(id)%%>" class="system_cookies-SERVER_PROTOCOL"><%%VALUE(SERVER_PROTOCOL)%%></td>
		<td id="system_cookies-SERVER_SOFTWARE-<%%VALUE(id)%%>" class="system_cookies-SERVER_SOFTWARE"><%%VALUE(SERVER_SOFTWARE)%%></td>
		<td id="system_cookies-REQUEST_METHOD-<%%VALUE(id)%%>" class="system_cookies-REQUEST_METHOD"><%%VALUE(REQUEST_METHOD)%%></td>
		<td id="system_cookies-PHP_SELF-<%%VALUE(id)%%>" class="system_cookies-PHP_SELF"><%%VALUE(PHP_SELF)%%></td>
		<td id="system_cookies-REQUEST_TIME_FLOAT-<%%VALUE(id)%%>" class="system_cookies-REQUEST_TIME_FLOAT"><%%VALUE(REQUEST_TIME_FLOAT)%%></td>
		<td id="system_cookies-REQUEST_TIME-<%%VALUE(id)%%>" class="system_cookies-REQUEST_TIME"><%%VALUE(REQUEST_TIME)%%></td>
		<td id="system_cookies-HTTP_REFERER-<%%VALUE(id)%%>" class="system_cookies-HTTP_REFERER"><%%VALUE(HTTP_REFERER)%%></td>
		<td id="system_cookies-REDIRECT_URL-<%%VALUE(id)%%>" class="system_cookies-REDIRECT_URL"><%%VALUE(REDIRECT_URL)%%></td>
		<td id="system_cookies-REDIRECT_REQUEST_METHOD-<%%VALUE(id)%%>" class="system_cookies-REDIRECT_REQUEST_METHOD"><%%VALUE(REDIRECT_REQUEST_METHOD)%%></td>
		<td id="system_cookies-REDIRECT_STATUS-<%%VALUE(id)%%>" class="system_cookies-REDIRECT_STATUS"><%%VALUE(REDIRECT_STATUS)%%></td>
		<td id="system_cookies-REDIRECT_QUERY_STRING-<%%VALUE(id)%%>" class="system_cookies-REDIRECT_QUERY_STRING"><%%VALUE(REDIRECT_QUERY_STRING)%%></td>
		<td id="system_cookies-HTTP_CONNECTION-<%%VALUE(id)%%>" class="system_cookies-HTTP_CONNECTION"><%%VALUE(HTTP_CONNECTION)%%></td>
		<td id="system_cookies-CONTENT_TYPE-<%%VALUE(id)%%>" class="system_cookies-CONTENT_TYPE"><%%VALUE(CONTENT_TYPE)%%></td>
		<td id="system_cookies-CONTENT_LENGTH-<%%VALUE(id)%%>" class="system_cookies-CONTENT_LENGTH"><%%VALUE(CONTENT_LENGTH)%%></td>
		<td id="system_cookies-UNIQUE_ID-<%%VALUE(id)%%>" class="system_cookies-UNIQUE_ID"><%%VALUE(UNIQUE_ID)%%></td>
		<td id="system_cookies-SSL_SESSION_ID-<%%VALUE(id)%%>" class="system_cookies-SSL_SESSION_ID"><%%VALUE(SSL_SESSION_ID)%%></td>
		<td id="system_cookies-HTTP_X_REQUESTED_WITH-<%%VALUE(id)%%>" class="system_cookies-HTTP_X_REQUESTED_WITH"><%%VALUE(HTTP_X_REQUESTED_WITH)%%></td>
		<td id="system_cookies-HTTP_ORIGIN-<%%VALUE(id)%%>" class="system_cookies-HTTP_ORIGIN"><%%VALUE(HTTP_ORIGIN)%%></td>
