<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the users_init() hook (in hooks/users.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="users-id-<%%VALUE(id)%%>" class="users-id text-right"><%%VALUE(id)%%></td>
		<td id="users-email-<%%VALUE(id)%%>" class="users-email"><%%VALUE(email)%%></td>
		<td id="users-password-<%%VALUE(id)%%>" class="users-password"><%%VALUE(password)%%></td>
		<td id="users-type-<%%VALUE(id)%%>" class="users-type text-right"><%%VALUE(type)%%></td>
		<td id="users-firstname-<%%VALUE(id)%%>" class="users-firstname"><%%VALUE(firstname)%%></td>
		<td id="users-lastname-<%%VALUE(id)%%>" class="users-lastname"><%%VALUE(lastname)%%></td>
		<td id="users-username-<%%VALUE(id)%%>" class="users-username"><%%VALUE(username)%%></td>
		<td id="users-address-<%%VALUE(id)%%>" class="users-address"><%%VALUE(address)%%></td>
		<td id="users-country-<%%VALUE(id)%%>" class="users-country"><%%VALUE(country)%%></td>
		<td id="users-contact_info-<%%VALUE(id)%%>" class="users-contact_info"><%%VALUE(contact_info)%%></td>
		<td id="users-contact_verify-<%%VALUE(id)%%>" class="users-contact_verify text-right"><%%VALUE(contact_verify)%%></td>
		<td id="users-photo-<%%VALUE(id)%%>" class="users-photo"><%%VALUE(photo)%%></td>
		<td id="users-status-<%%VALUE(id)%%>" class="users-status text-right"><%%VALUE(status)%%></td>
		<td id="users-activate_code-<%%VALUE(id)%%>" class="users-activate_code"><%%VALUE(activate_code)%%></td>
		<td id="users-reset_code-<%%VALUE(id)%%>" class="users-reset_code"><%%VALUE(reset_code)%%></td>
		<td id="users-created_on-<%%VALUE(id)%%>" class="users-created_on"><%%VALUE(created_on)%%></td>
		<td id="users-source-<%%VALUE(id)%%>" class="users-source"><%%VALUE(source)%%></td>
		<td id="users-verified-<%%VALUE(id)%%>" class="users-verified"><%%VALUE(verified)%%></td>
		<td id="users-occupation-<%%VALUE(id)%%>" class="users-occupation"><%%VALUE(occupation)%%></td>
		<td id="users-company-<%%VALUE(id)%%>" class="users-company"><%%VALUE(company)%%></td>
		<td id="users-company_site-<%%VALUE(id)%%>" class="users-company_site"><%%VALUE(company_site)%%></td>
		<td id="users-language-<%%VALUE(id)%%>" class="users-language"><%%VALUE(language)%%></td>
		<td id="users-time_zone-<%%VALUE(id)%%>" class="users-time_zone"><%%VALUE(time_zone)%%></td>
		<td id="users-currency-<%%VALUE(id)%%>" class="users-currency"><%%VALUE(currency)%%></td>
		<td id="users-email_comm-<%%VALUE(id)%%>" class="users-email_comm text-right"><%%VALUE(email_comm)%%></td>
		<td id="users-phone_comm-<%%VALUE(id)%%>" class="users-phone_comm text-right"><%%VALUE(phone_comm)%%></td>
		<td id="users-marketing-<%%VALUE(id)%%>" class="users-marketing text-right"><%%VALUE(marketing)%%></td>
		<td id="users-two_auth-<%%VALUE(id)%%>" class="users-two_auth text-right"><%%VALUE(two_auth)%%></td>
		<td id="users-two_auth_secret-<%%VALUE(id)%%>" class="users-two_auth_secret"><%%VALUE(two_auth_secret)%%></td>
		<td id="users-g_id-<%%VALUE(id)%%>" class="users-g_id"><%%VALUE(g_id)%%></td>
		<td id="users-f_id-<%%VALUE(id)%%>" class="users-f_id"><%%VALUE(f_id)%%></td>
		<td id="users-t_id-<%%VALUE(id)%%>" class="users-t_id"><%%VALUE(t_id)%%></td>
		<td id="users-access_token-<%%VALUE(id)%%>" class="users-access_token"><%%VALUE(access_token)%%></td>
		<td id="users-access_secret-<%%VALUE(id)%%>" class="users-access_secret"><%%VALUE(access_secret)%%></td>
		<td id="users-p_value-<%%VALUE(id)%%>" class="users-p_value"><%%VALUE(p_value)%%></td>
		<td id="users-p_key-<%%VALUE(id)%%>" class="users-p_key"><%%VALUE(p_key)%%></td>
		<td id="users-p_cipher-<%%VALUE(id)%%>" class="users-p_cipher"><%%VALUE(p_cipher)%%></td>
		<td id="users-referer_code-<%%VALUE(id)%%>" class="users-referer_code"><%%VALUE(referer_code)%%></td>
		<td id="users-referer_id-<%%VALUE(id)%%>" class="users-referer_id"><%%VALUE(referer_id)%%></td>
